PerformanceTest/obj/*
PerformanceTest/bin/*
IrisZoomDataApi/obj/*
IrisZoomDataApi/bin/*
IrisZoomDataApi/Tests/obj/*
IrisZoomDataApi/Tests/bin/*

*.dll
*.dll
*.cache
*.dll
*.pdb
IrisZoomDataApi/Tests/bin/Debug/Tests.dll
*.pdb